<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hello.tech.infits">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.INFITS"
        tools:targetApi="31">
        <activity
            android:name=".View.ViewAll"
            android:exported="false" />
        <activity
            android:name=".View.GraphClient"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Metrices"
            android:exported="true" />
        <activity
            android:name=".View.ClientDetail"
            android:exported="true" />
        <activity
            android:name=".View.HomeNavigation"
            android:exported="true"
            android:label="@string/title_activity_home_navigation"
            android:theme="@style/Theme.INFITS.NoActionBar" />
        <activity
            android:name=".View.DialougeActivity"
            android:exported="true" />
        <activity
            android:name=".View.DietChart"
            android:exported="true" />
        <activity
            android:name=".View.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".View.ReferActivity"
            android:exported="true" />
        <activity
            android:name=".View.AchievementsCompleted"
            android:exported="true" />
        <activity
            android:name=".View.Achivements"
            android:exported="true" />
        <activity
            android:name=".View.Tracker"
            android:exported="true" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.StartActvity"
            android:exported="true" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>